# Environment variables
.env

# Python stuff
__pycache__/
*.pyc

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter notebook checkpoints (if using)
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Node stuff (if applicable)
node_modules/

sdkbin/
# Ignore Android SDK & user-specific config
*.iml
.gradle
/local.properties
/.idea
.DS_Store
*.log
*.keystore
*.jks
*.apk
*.aar

# Ignore user-level .android folder
**/.android/
